@charset "UTF-8";
/* Variables */
:root {
  /* Colores */
  --first: #1083db;
  --second: #248;
  --light: #eee;
  --dark: #333;
  --line:#ffffff1f;
  --extras: #f9f9f9;
  --bg-nav: #0000001a;
  --hover-nav:#272525;
  --shadow: #000000a6;
  --grey: #6e6e6e;
  /* Tamaños */
  --small: 200px;
  --medium: 400px;
  --large: 600px;
  /* Tipografia */
  --font: "Roboto", "Raleway", sans-serif;
}

/* Reglas de Utilidad */
* {
  font-family: var(--font);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Reinicios de Estilos */
/* Margenes */
body,
h1,
h2,
h3,
h4,
header p,
.submenu,
.subitems,
.menu {
  margin: 0;
}

body {
  background-color: var(--dark);
}

/* Rellenos */
.submenu,
.subitems,
.menu {
  padding: 0;
}

/* Bordes */
iframe {
  border: 0;
}

/* Estilos */
:is(header,
nav,
footer) a {
  text-decoration: none;
}

:is(*) li {
  list-style: none;
}

.submenu,
.subitems,
.menu {
  list-style: none;
}

main {
  padding: auto;
}

main,
footer {
  margin-left: 72px;
}

.space {
  margin: 100px;
}

.jc-row-ctr, .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.jc-col-left, .atras {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.df-row-ev, .atras .iconos-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 0;
}

.wrap {
  width: 100%;
  margin: 1rem auto;
  flex-wrap: wrap;
}

.tarjeta-wrap {
  margin: 10px;
  -webkit-perspective: 800;
  perspective: 800;
}

.tarjeta {
  width: 300px;
  height: 350px;
  background: var(--dark);
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-box-shadow: 0px 10px 15px -5px var(--shadow);
  box-shadow: 0px 10px 15px -5px var(--shadow);
  border-radius: 0.75rem;
  cursor: pointer;
}

.adelante, .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0.75rem;
}

.adelante {
  width: 100%;
}

.atras {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 15px;
  margin-top: 2rem;
  color: var(--light);
}
.atras a {
  text-decoration: none;
  color: var(--light);
}
.atras :is(.text-decoration) li {
  list-style: circle;
  font-size: 0.9rem;
  color: rgb(255, 247, 0);
}

.tarjeta-wrap:hover .tarjeta {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card1 {
  background-image: url(../img/1.jpeg);
  background-size: cover;
}

.card2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
}

.card3 {
  background-image: url(../img/3.jpg);
  background-size: cover;
}

.card4 {
  background-image: url(../img/4.jpg);
  background-size: cover;
}

.card5 {
  background-image: url(../img/5.png);
  background-size: cover;
}

.card6 {
  background-image: url(../img/6.jpg);
  background-size: cover;
}

.card7 {
  background-image: url(../img/7.png);
  background-size: cover;
}

.card8 {
  background-image: url(../img/8.png);
  background-size: cover;
}

/* Inicio del Sidebar */
.sidebar {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 72px;
  height: 100%;
  background: var(--dark);
  transition: width 0.4s ease-in-out;
  z-index: 2;
}

body.open .sidebar {
  width: 260px;
}

.sidebar-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 1.25rem 0 0;
  background: var(--bg-nav);
}

.sidebar-burger {
  width: 72px;
  height: 72px;
  display: grid;
  place-items: center;
  background: url(../img/icons8-menu.svg) no-repeat center center;
}

body.open .sidebar-burger {
  background: url(../img/icons8-close.svg) no-repeat no-repeat center center;
}

.sidebar-logo {
  height: 45px;
}

.sidebar-menu {
  display: grid;
}

.sidebar-menu > a > button {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 60px;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0 1.5rem;
}

.sidebar-menu > a > button.has-border {
  border-bottom: 0.08rem solid var(--line);
  width: 100%;
}

.sidebar-menu > a > button > img {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-menu > a > button > span {
  color: var(--extras);
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.sidebar-menu > a > button:hover {
  background-color: var(--hover-nav);
  width: 100%;
}

/* Inicio del Footer */
footer {
  background-color: var(--dark);
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}
footer h3 {
  text-shadow: 0.15rem 0.15rem 0.5rem var(--dark);
}
footer h3,
footer p {
  color: var(--light);
  margin-bottom: 0;
}
footer .copy {
  text-align: center;
}
footer .copy a {
  text-decoration: none;
  color: var(--light);
}

.video-init video {
  max-width: 100%;
}
.video-init img {
  max-width: var(--large);
  padding: 1.5rem 0;
}

.cards {
  background: var(--grey);
  padding: var(--small);
}
.cards h2 {
  font-size: 2rem;
  color: var(--light);
  text-align: center;
}

.oculto {
  max-height: 0;
  overflow: hidden;
}

.df-col-cter, .video-init {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 2022 - Autor: Alejandro Daniel Di Stefano *//*# sourceMappingURL=style.css.map */