.jc-row-ctr{
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.jc-col-left{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.df-row-ev{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto 0;
}

.rotateY{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.rotateX{
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.cards{
    background: var(--grey);
    padding: var(--xsmall) 0;
    h2{       
        font-size: 2.5rem;
        color: var(--light);
        text-align: center;
		text-shadow: -.25rem .25rem .5rem var(--dark);
    }

	.wrap{
		width: 100%;
		margin: 1rem auto;
		@extend .jc-row-ctr;
		flex-wrap: wrap;

		.tarjeta-wrap{
			margin: 10px;
			-webkit-perspective: 800;
			perspective: 800;
			.tarjeta, .tarjeta-v{
				width: 300px;
				height: 350px;
				background: var(--dark);
				position: relative;
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-transition: .7s ease;
				transition: .7s ease;
				-webkit-box-shadow: 0px 10px 15px -5px var(--shadow);
				box-shadow: 0px 10px 15px -5px var(--shadow);
				border-radius: .75rem;
				cursor: pointer;
				.adelante, .atras, .atras-v{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					border-radius: .75rem;
					padding: 1rem;
				}
				
				.adelante{
					width: 100%;
				}
				
				.atras{
					@extend .rotateY;
					padding: 15px;					
					@extend .jc-col-left;	
					color: var(--light);
					a{
						text-decoration: none;
						color: var(--light);
					}
					.iconos-card{
						@extend .df-row-ev;
					}
					:is(.text-decoration) li {
						list-style:circle;
						font-size: .9rem;
					}
					h3{
						color: burlywood;
					}
				}
				
				.atras-v{
					@extend .atras;
					@extend .rotateX;
				}	
			}
		}
	}
}

.tarjeta-wrap:hover .tarjeta{
	@extend .rotateY;
}
.tarjeta-wrap:hover .tarjeta-v{
	@extend .rotateX;
}


.card1{
	background-image: url(../img/1.jpeg);
	background-size: cover;
}

.card2{
	background-image: url(../img/2.jpg);
	background-size: cover;
}

.card3{
	background-image: url(../img/3.jpg);
	background-size: cover;
}

.card4{
	background-image: url(../img/4.jpg);
	background-size: cover;
}

.card5{
	background-image: url(../img/5.png);
	background-size: cover;
}

.card6{
	background-image: url(../img/6.jpg);
	background-size: cover;
}

.card7{
	background-image: url(../img/7.png);
	background-size: cover;
}

.card8{
	background-image: url(../img/8.png);
	background-size: cover;
}