// Variables de Footer
$primary: var(--first);
$secondary: var(--second);
$tertiary: var(--light);
$fourth: var(--dark);

/* Inicio del Footer */
footer{
    background-color: $fourth;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
    h3{
        text-shadow: .15rem .15rem .5rem $fourth;
    }
    h3,
    p {
        color: $tertiary;
        margin-bottom: 0;               
    }
    .copy{
        text-align: center;
        a{
            text-decoration: none;
            color: $tertiary;
        }
        
    } 
}
