/* Variables */
:root {
    /* Colores */
    --first: #1083db;
    --second: #248;
    --light: #eee;
    --dark: #333;
    --line:#ffffff1f;
    --extras: #f9f9f9;
    --bg-nav: #0000001a;
    --hover-nav:#272525;
    --shadow: #000000a6;
    --grey: #6e6e6e;
    /* Tamaños */
    --small: 200px;
    --medium: 400px;
    --large: 600px;
    /* Tipografia */
    --font: 'Roboto', 'Raleway', sans-serif;
}

/* Reglas de Utilidad */
* {
    font-family: var(--font);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Reinicios de Estilos */
/* Margenes */
body,
h1,
h2,
h3,
h4,
header p,
.submenu,
.subitems,
.menu {
    margin: 0;
}
body{
    background-color: var(--dark);
}
/* Rellenos */
.submenu,
.subitems,
.menu {
    padding: 0;
}

/* Bordes */
iframe {
    border: 0;
}

/* Estilos */
:is(header,
    nav,
    footer) a {
    text-decoration: none;
}
:is(*) li {
    list-style: none;
}

.submenu,
.subitems,
.menu {
    list-style: none;
}


main{
    padding: auto;
}
main,
footer{
    margin-left: 72px;
}

$pathImg: '../img';