.df-row-ctr{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.video-init {
    @extend .df-col-cter;

    video {
        max-width: 100%;
    }

    img {
        max-width: var(--large);
        padding: 1.5rem 0;
    }

}

.oculto{
    max-height: 0;
    overflow: hidden;
}

.proyects{
    background-color: white;
    @extend .df-row-ctr;
    padding: var(--small);
    img{
        max-width: var(--xlarge);
    }
}

.contador{
    text-align: center;
    color: var(--light);
}