.video-init {
    @extend .df-col-cter;

    video {
        max-width: 100%;
    }

    img {
        max-width: var(--large);
        padding: 1.5rem 0;
    }

}
.cards{
    background: var(--grey);
    padding: var(--small);
    h2{       
        font-size: 2rem;
        color: var(--light);
        text-align: center;
    }
}
.oculto{
    max-height: 0;
    overflow: hidden;
}