/* Inicio del Sidebar */
//Variables
$primary: var(--first);
$secondary: var(--second);
$tertiary: var(--light);
$fourth: var(--dark);
$line: var(--line);
$extras: var(--extras);
$bg-nav: var(--bg-nav);

.sidebar {
    position:fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    background: $primary;
    transition: width 0.4s ease-in-out;
    z-index: 2;
}

body.open .sidebar {
    width: 260px;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    background: $bg-nav;
}

.sidebar-burger {
    width: 72px;
    height: 72px;
    display: grid;
    place-items: center;
    background: url(../img/icons8-menu.svg) no-repeat center center;
}

body.open .sidebar-burger {
    background: url(../img/icons8-close.svg) no-repeat no-repeat center center;
}

.sidebar-logo {
    height: 45px;
}

.sidebar-menu {
    display: grid;
}

.sidebar-menu>a>button {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 60px;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 1.5rem;
}

.sidebar-menu>a>button.has-border {    
    border-bottom: .08rem solid $line;   
    width: 100%;
}

.sidebar-menu>a>button>img {
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-menu>a>button>span {
    color: $extras;
}
button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.sidebar-menu > a> button:hover{
    background-color: $fourth;
    width: 100%;
}